.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-component {
  background-color: grey;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 20 10px 25px rgba(81, 56, 223, 0.1);
  text-align: center;
}